{% extends 'base.html' %}

{% block img %}
<img src="static/temple.jpg" />
{% endblock  %}

{% block content %}
<b>Entertainment: </b><br>
Most people visit Taniti to enjoy the beaches,
explore the rainforest, and visit the volcano. However, there are
other things to do, including visiting a local history museum, going
on chartered fishing tours, snorkeling, zip-lining in the rainforest,
visiting several pubs, including a microbrewery, dancing at a new
dance club, seeing a movie, taking helicopter rides, playing at an
arcade, visiting art galleries, and bowling. Also, a nine-hole golf
course should be operational by next year. Many of these activities
are in Merriton Landing, which is a rapidly developing area on the
north side of Yellow Leaf Bay. <br><br>

<b>Sightseeing:</b> <br>
Most tourists spend most of their time in Taniti City,
which boasts native architecture and nearby white, sandy beaches
that encircle Yellow Leaf Bay.<br><br>
<b>Other popular activities:</b> <br><br>

<ul id="sublist">
<li>Boat or bus tours of the island</li>
<li>Hikes in the rainforest</li>
<li>Visits to Taniti's active volcano</li>
</ul>
{% endblock  %}

{% block faq %}
<li>Taniti uses the U.S. dollar as its currency, but many businesses will also
    accept euros and yen. Several banks facilitate currency exchange, and
    many businesses accept major credit cards.</li><br><br>
<li>
    Taniti enjoys a large number of national holidays, and many tourist
attractions and restaurants will be closed on holidays, so visitors should
plan accordingly.
</li>
{% endblock  %}