{% extends 'base.html' %}

{% block img %}
<img src="static/food.jpg" />
{% endblock  %}

{% block content %}

<b>Restaurants:</b><br> Taniti currently has 10 restaurants: five serve mostly
local fish and rice, three serve American-style meals, and two
serve Pan-Asian cuisine.<br><br>
<b>Grocery Stores:</b> <br>Taniti has two supermarkets, two smaller grocery
stores, and one convenience store that is open 24 hours a day.

{% endblock  %}

{% block faq %}
<li>
    The drinking age on Taniti is 18 and the drinking age is not strictly
enforced.
</li><br><br>
<li>
    Alcohol is not allowed to be served or sold between the hours of midnight
    and 9:00 a.m.
</li><br><br>
<li>
    There is one hospital and several clinics. The hospital has many
    multilingual employees. 
</li>
{% endblock  %}