{% extends 'base.html' %}

{% block img %}
<img src="static/home.jpg" />
{% endblock  %}

{% block content %}
Taniti has a wide variety of lodging that ranges from an
inexpensive hostel to one large, four-star resort. There are many
small, family-owned hotels and a growing number of bed and
breakfasts. All types of lodging are strictly regulated and regularly
inspected by the Tanitian government.
{% endblock  %}

{% block faq %}
<li>Power outlets are 120 volts (the same as in the United States).</li><br><br>
<li>Many younger Tanitians speak fluent English. Very little English is spoken
    in rural areas, especially by the older residents.</li><br><br>
<li>Taniti uses the U.S. dollar as its currency, but many businesses will also
    accept euros and yen. Several banks facilitate currency exchange, and
    many businesses accept major credit cards.</li>
{% endblock  %}